html {
  font-family: "Lato", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
}

.btn {
  display: block;
  margin: 0;
  border: 0;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: transparent;
  outline: none;
  box-shadow: 0 0 2px 0 #373636;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.7;
}

.btn:active {
  opacity: 0.5;
} 

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  border-bottom: 1px solid #1A1A1A;
}

.header__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 30px;
}

.select__view {
  display: flex;
  border-radius: 5px;
  padding: 5px;
}

.docs__container {
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  gap: 20px;
}

.docs__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.docs__content {
  width: 360px;
  height: 512px;
  border: 1px solid #1A1A1A;
  border-radius: 5px;
  padding: 5px;
}

.canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.btns {
  display: flex;
  margin-top: 20px;
}

.btns__save {
  background-color: rgb(92, 184, 92);
  color: rgb(255, 255, 255);
}

.btns__reset {
  background-color:rgb(238, 162, 54);
  color: rgb(255, 255, 255);
}

.btns__add {
  background-color: rgb(66, 139, 202) ;
  color: rgb(255, 255, 255);
}

.btns__delete {
  background-color: rgb(217, 83, 79);
  color: rgb(255, 255, 255);
}

.rects-table {
  width: 100%;
}

.rects-table,
.rects-table th, 
.rects-table td {
  border: 1px solid #1a1a1a;
}

.form {
  display: block;
  width: 100%;
  margin-top: 200px;
  margin-bottom: 20px;
}

.form__textarea {
  width: 100%;
  height: 70px;
  border-radius: 5px;
  resize: none;
}

.btn__push {
  display: block;
  border-radius: 5px;
  border: 0;
  padding: 10px 20px;
  outline: none;
  box-shadow: 0 0 2px 0 #373636;
  cursor: pointer;
  background-color: rgb(92, 172, 184);
  color: rgb(255, 255, 255);
}


@media (min-width: 768px) {
  .container {
    padding: 50px;
  }

  .header__container {
    padding: 20px 50px;
  }

  .header__title {
    margin: 0;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 45px;
  }

  .docs__container {
    gap: 50px;
  }

  .docs__content {
    width: 720px;
    height: 1024px;
  }
}

@media (min-width: 1280px) {
  .docs__container {
    flex-direction: row;
  }

  .btns {
    margin-top: 50px;
  }
}