@font-face {
  font-family: "Muller";
  font-display: swap;
  src: url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  font-display: swap;
  src: url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  font-display: swap;
  src: url("../fonts/MullerLight.woff2") format("woff2"), url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  font-display: swap;
  src: url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  font-display: swap;
  src: url("../fonts/MullerLightItalic.woff2") format("woff2"), url("../fonts/MullerLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

.body {
  font-family: "Muller", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  color: #121723;
}

.ul-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.a-reset {
  margin: 0;
  text-decoration: none;
}

.m-reset {
  margin: 0;
}

.title {
  margin-bottom: 30px;
  font-size: 48px;
  line-height: 48px;
  font-weight: 400;
}

.btn {
  padding: 25px 52px;
  border: 2px solid transparent;
  border-radius: 40px;
  background-color: transparent;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  -o-transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  font-size: 20px;
  line-height: 20px;
  color: #121723;
  outline: none;
  cursor: pointer;
}

.logo,
.footer__logo {
  width: 160px;
  height: 20px;
  outline: none;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.logo:hover,
.logo:focus,
.footer__logo:hover,
.footer__logo:focus {
  opacity: 0.5;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 34px 0 34px 0;
}

.logo {
  margin-right: 76px;
}

.logo__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: 0;
}

.swiper-wrapper {
  justify-content: space-between;
}

.swiper-slide {
  width: auto;
}

.nav__link {
  font-size: 20px;
  line-height: 20px;
  color: #121723;
  -webkit-transition: color 0.3s ease, background 0.3s ease, padding 0.3s ease;
  -o-transition: color 0.3s ease, background 0.3s ease, padding 0.3s ease;
  transition: color 0.3s ease, background 0.3s ease, padding 0.3s ease;
  outline: none;
}

.nav__link:hover {
  color: #6D31EE;
}

.nav__link:focus {
  padding: 3px;
  background-color: #AA9DFA;
  color: #FFF;
}

.nav__link:active {
  color: #4F28A5;
}

.nav__link:active:focus {
  visibility: hidden;
}

.header__btn {
  width: 24px;
  height: 20px;
  padding: 0;
  border: 0;
  background-color: transparent;
  outline: none;
}

.header__btn-svg {
  width: 110%;
  height: 110%;
  object-fit: cover;
}

.header__btn:hover .header__btn-svg path,
.header__btn:focus .header__btn-svg path {
  stroke: #AA9DFA;
  -webkit-transition: stroke 0.3s ease;
  -o-transition: stroke 0.3s ease;
  transition: stroke 0.3s ease;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0 28px 0;
}

.hero__content {
  max-width: 640px;
}

.hero__title {
  margin-bottom: 12px;
  font-size: 60px;
  line-height: 60px;
  font-style: italic;
}

.title__span {
  display: inline-block;
}

.title__span:nth-child(2) {
  -webkit-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
          transform: translateX(-5px);
}

.title__span:first-child {
  font-weight: 700;
  font-style: normal;
}

.hero__sub-title {
  margin-bottom: 43px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.hero__btn {
  background-color: #6D31EE;
  color: #FFF;
}

.hero__btn:hover {
  background-color: #AA9DFA;
}

.hero__btn:focus {
  background-color: #AA9DFA;
  border: 2px solid #4F28A5;
}

.hero__btn:active {
  background-color: #4F28A5;
}

.hero__btn:active:focus {
  outline: none;
}

.podcasts {
  background-color: #D2D5DD;
}

.podcasts__container {
  padding: 94px 0 63px 0;
}

.podcasts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.podcasts__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 535px;
  margin-bottom: 30px;
}

.podcasts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0;
  border: 0;
  background-color: #FFF;
  -webkit-transition: transform 0.3s ease, opacity 0.3s ease;
  -o-transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.podcasts__link:hover,
.podcasts__link:focus {
  transform: translate(3px, 3px);
}

.podcasts__link:focus {
  opacity: 0.5;
}

.podcasts__pic {
  width: 112px;
  height: 138px;
}

.podcasts__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.podcasts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding: 40px 29px 30px 29px;
}

.podcasts__time {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 12px;
  color: #121723;
}

.podcasts__heading {
  margin-bottom: 4px;
  font-size: 20px;
  line-height: 20px;
  color: #121723;
}

.podcasts__description {
  font-size: 16px;
  line-height: 16px;
  color: #A1A6B4;
}

.broadcasts__container {
  padding: 94px 0 84px 0;
}

.hidden {
  display: none;
}

.broadcasts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cols:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 74.2%;
  -webkit-transform: translateY(13px);
      -ms-transform: translateY(13px);
          transform: translateY(13px);
}

.cols:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 22.8%;
  margin-right: 12px;
  padding: 0 0 11px 0;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.broadcasts__title {
  height: 100%;
  margin-bottom: 0;
}

.broadcasts__btn {
  position: relative;
  max-width: 160px;
  margin-bottom: 13px;
  padding: 12px 56px;
  border: 1px solid #121723;
  font-size: 16px;
  line-height: 16px;
  outline: none;
  z-index: 0;
}

.no-webp .broadcasts__btn::before {
  background-image: url(../img/microphone.png); }

.broadcasts__btn::before {
  content: "";
  position: absolute;
  width: 90px;
  height: 115px;
  top: -140px;
  left: -21px;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
}

.broadcasts__btn:hover,
.broadcasts__btn:focus,
.broadcasts__btn:active {
  color: #FFF;
}

.broadcasts__btn:hover {
  background-color: #AA9DFA;
}

.broadcasts__btn:focus {
  background-color: #AA9DFA;
  border: 1px solid #4F28A5;
}

.broadcasts__btn:active {
  background-color: #4F28A5;
}


.broadcasts__sub-title {
  font-size: 16px;
  line-height: 23px;
  color: #A1A6B4;
  z-index: 1;
}

.broadcasts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.broadcasts__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  margin-bottom: 24px;
  border: 1px solid #E6E8EC;
}

.broadcasts__img {
  width: 250px;
  height: 148px;
}

.broadcasts__info {
  padding: 16px 14px 18px 14px;
}

.broadcasts__heading {
  margin-bottom: 4px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #121723;
}

.broadcasts__description {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #A1A6B4;
}

.broadcasts__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  font-style: italic;
  color: #121723;
  -webkit-transition: color 0.3s ease, padding 0.3s ease, background 0.3s ease;
  -o-transition: color 0.3s ease, padding 0.3s ease, background 0.3s ease;
  transition: color 0.3s ease, padding 0.3s ease, background 0.3s ease;
  outline: none;
}

.broadcasts__arrow {
  position: absolute;
  width: 19px;
  height: 1px;
  top: 7px;
  right: -26%;
  background-color: #121723;
  -webkit-transition: background 0.3s ease, width 0.3s ease, top 0.3s ease, right 0.3s ease;
  -o-transition: background 0.3s ease, width 0.3s ease, top 0.3s ease, right 0.3s ease;
  transition: background 0.3s ease, width 0.3s ease, top 0.3s ease, right 0.3s ease;
}

.broadcasts__arrow::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  top: -2px;
  right: 0;
  border-top: 1px solid #121723;
  border-right: 1px solid #121723;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: border-color 0.3s ease;
  -o-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

.broadcasts__link:hover {
  color: #6D31EE;
}

.broadcasts__link:hover .broadcasts__arrow {
  width: 25px;
  right: -33%;
  background-color: #6D31EE;
}

.broadcasts__link:hover .broadcasts__arrow::after {
  border-color: #6D31EE;
}

.broadcasts__link:focus {
  padding: 3px 26px 3px 3px;
  background-color: #AA9DFA;
  color: #FFF;
}

.broadcasts__link:focus .broadcasts__arrow {
  top: 10px;
  right: 3%;
  background-color: #FFF;
}

.broadcasts__link:focus .broadcasts__arrow::after {
  border-color: #FFF;
}

.broadcasts__link:focus:hover .broadcasts__arrow {
  width: 19px;
}

.broadcasts__link:active:focus {
  visibility: hidden;
}

.broadcasts__link:active {
  text-shadow: 1px 1px 1px 1px #292E39;
  color: #4F28A5;
}

.broadcasts__link:active .broadcasts__arrow {
  width: 25px;
  right: -33%;
  background-color: #4F28A5;
}

.broadcasts__link:active .broadcasts__arrow::after {
  border-color: #4F28A5;
}

.guests {
  background-color: #121723;
}

.guests__container {
  padding: 94px 0 93px 0;
}

.guests__title {
  margin-bottom: 12px;
  color: #FFF;
}

.guests__sub-title {
  max-width: 830px;
  margin-bottom: 50px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #A1A6B4;
}

.guests__sub-p {
  display: block;
}

.guests__sub-p:first-child {
  margin-bottom: 9px;
  font-weight: 700;
}

.guests__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 918px;
  max-height: 269px;
}

.guests__item:not(:last-child) {
  margin-bottom: 49px;
}

.guests__img {
  height: 100%;
  margin-right: 27px;
}

.guests__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.guests__heading {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #FFF;
}

.guests__description {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 28.8px;
  font-weight: 400;
  color: #A1A6B4;
}

.guests__btn {
  margin-top: auto;
  padding: 10px 17px;
  border: 2px solid #AA9DFA;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #AA9DFA;
}

.guests__btn:hover,
.guests__btn:focus,
.guests__btn:active {
  color: #FFF;
  outline: none;
}

.guests__btn:hover {
  background-color: #AA9DFA;
}

.guests__btn:focus {
  background-color: #6D31EE;
}

.guests__btn:active {
  background-color: #4F28A5;
}

.playlists__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 94px 0 79px 0;
}

.playlists__content {
  width: 27.2%;
  margin-right: 15px;
}

.playlists__title {
  margin-bottom: 10px;
}

.playlists__sub-title {
  font-size: 16px;
  line-height: 22px;
  color: #A1A6B4;
}

.copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.copyrights__text {
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  font-style: italic;
  color: #A1A6B4;
}

.copyrights__img {
  width: 30px;
  height: 30px;
  background-image: url(../img/18+.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.playlists__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 66%;
}

.playlists__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17%;
          flex: 0 0 17%;
  margin-bottom: 25px;
  -webkit-transform: translate(0px, 13px);
      -ms-transform: translate(0px, 13px);
          transform: translate(0px, 13px);
}

.playlists__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  border: 1px solid #E6E8EC;
  background-color: transparent;
  -webkit-transition: border-radius 0.3s ease, border-color 0.3s ease, opacity 0.3s ease;
  -o-transition: border-radius 0.3s ease, border-color 0.3s ease, opacity 0.3s ease;
  transition: border-radius 0.3s ease, border-color 0.3s ease, opacity 0.3s ease;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.playlists__link:hover,
.playlists__link:focus {
  border-color: #121723;
  border-radius: 5px;
}

.playlists__link:active {
  opacity: 0.5;
  border-radius: 0;
}

.playlist__img {
  width: 160px;
  height: 160px;
}

.playlists__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding: 10px 16px 16px 16px;
}

.playlists__heading {
  display: block;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #121723;
}

.playlists__description {
  font-size: 12px;
  line-height: 12px;
  color: #A1A6B4;
}

.market {
  background-color: #292E39;
}

.market__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          max-width: 1110px;
  padding: 93px 0 131px 0;
}

.market__img {
  margin-right: 25px;
}

.market__title {
  position: relative;
  margin-bottom: 47px;
  color: #F0D288;
}

.market__title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 12px;
  bottom: -30px;
  left: 0;
  background-image: url(../img/wave-vector.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.market__sub-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 29px;
  color: #FFF;
}

.market__sub-p:nth-child(1) {
  margin-bottom: 12px;
}

.market__sub-p:nth-child(2) {
  margin-bottom: 30px;
}

.market__price {
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
}

.market__btn {
  position: relative;
  padding: 23px 13.5px 23px 37px;
  border: 2px solid #F0D288;
  font-size: 20px;
  line-height: 20px;
  color: #F0D288;
  -webkit-transition: border 0.3s ease, background 0.3s ease, color 0.3s ease;
  -o-transition: border 0.3s ease, background 0.3s ease, color 0.3s ease;
  transition: border 0.3s ease, background 0.3s ease, color 0.3s ease;
  outline: none;
}

.market__svg {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 35%;
  left: 4%;
}

.market__svg g path {
  -webkit-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.market__btn:hover {
  background-color: #F0D288;
  color: #121723;
}

.market__btn:hover .market__svg g path:nth-child(1) {
  fill: #121723;
}

.market__btn:hover .market__svg g path:nth-child(2) {
  fill: #F0D288;
}

.market__btn:focus {
  background-color: #BB973E;
  color: #121723;
}

.market__btn:active {
  border: 2px solid #BB973E;
  background-color: #BB973E;
  color: #121723;
}

.market__btn:active .market__svg g path:nth-child(1) {
  fill: #121723;
}

.market__btn:active .market__svg g path:nth-child(2) {
  fill: #BB973E;
}

.about {
  background-color: #121723;
}

.about__container {
  margin-top: -1px;
  padding: 94px 0 94px 0;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 23px;
}

.about__title {
  margin-bottom: 11px;
  color: #FFF;
}

.about__sub-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 634px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: #A1A6B4;
}

.about__sub-p:first-child {
  margin-bottom: 6px;
  line-height: 30px;
  font-weight: 700;
}

.about__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__svg:nth-child(1) {
  display: none;
}

.about__svg:nth-child(2) {
  margin-right: 30px;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 255px;
  margin-bottom: 30px;
}

.about__pic {
  position: relative;
  width: 255px;
  height: 255px;
  margin-bottom: 29px;
}

.about__img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__heading {
  margin-bottom: 6px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #FFF;
}

.about__description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #A1A6B4;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 913px;
}

.form__textarea {
  height: 88px;
  margin-bottom: 29px;
  padding: 30px;
  border: 1px solid #FFF;
  border-radius: 30px;
  background-color: transparent;
  font-size: 20px;
  line-height: 20px;
  color: #FFF;
  -webkit-transition: background 0.3s ease, border 0.3s ease;
  -o-transition: background 0.3s ease, border 0.3s ease;
  transition: background 0.3s ease, border 0.3s ease;
  outline: none;
  resize: none;
}

.form__textarea::-webkit-input-placeholder {
  font-size: 20px;
  color: #A1A6B4;
}

.form__textarea::-moz-placeholder {
  font-size: 20px;
  color: #A1A6B4;
}

.form__textarea:-ms-input-placeholder {
  font-size: 20px;
  color: #A1A6B4;
}

.form__textarea::-ms-input-placeholder {
  font-size: 20px;
  color: #A1A6B4;
}

.form__textarea::placeholder {
  font-size: 20px;
  color: #A1A6B4;
}

.form__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 29px;
}

.form__label {
  display: flex;
  position: relative;
  flex: 0 0 48%;
}

.form__input {
  width: 100%;
  padding: 24px 30px;
  border: 1px solid #FFF;
  border-radius: 40px;
  background-color: transparent;
  font-size: 20px;
  line-height: 20px;
  color: #FFF;
  -webkit-transition: background 0.3s ease, border 0.3s ease;
  -o-transition: background 0.3s ease, border 0.3s ease;
  transition: background 0.3s ease, border 0.3s ease;
  outline: none;
}

.just-validate-error-label {
  position: absolute;
  top: 5px;
  left: 30px;
}

.form__input.just-validate-error-field {
  border-color: #D52B1E;
}

.form__input::-webkit-input-placeholder {
  font-size: 20px;
  color: #A1A6B4;
}

.form__input::-moz-placeholder {
  font-size: 20px;
  color: #A1A6B4;
}

.form__input:-ms-input-placeholder {
  font-size: 20px;
  color: #A1A6B4;
}

.form__input::-ms-input-placeholder {
  font-size: 20px;
  color: #A1A6B4;
}

.form__input::placeholder {
  font-size: 20px;
  color: #A1A6B4;
}

.form__input:hover,
.form__textarea:hover {
  background-color: #292E39;
}

.form__input:focus,
.form__textarea:focus {
  background-color: #292E39;
  border-color: #AA9DFA;
}

.form__input.just-validate-error-field:hover,
.form__input.just-validate-error-field:focus {
  border-color: #D52B1E;
}

.form__input:focus::-webkit-input-placeholder, .form__textarea:focus::-webkit-input-placeholder {
  visibility: hidden;
}

.form__input:focus::-moz-placeholder, .form__textarea:focus::-moz-placeholder {
  visibility: hidden;
}

.form__input:focus:-ms-input-placeholder, .form__textarea:focus:-ms-input-placeholder {
  visibility: hidden;
}

.form__input:focus::-ms-input-placeholder, .form__textarea:focus::-ms-input-placeholder {
  visibility: hidden;
}

.form__input:focus::placeholder,
.form__textarea:focus::placeholder {
  visibility: hidden;
}

.form__btn {
  display: block;
  margin-bottom: 33px;
  padding: 22px 51px;
  background-color: #6D31EE;
  color: #FFF;
}

.form__btn:hover {
  background-color: #AA9DFA;
}

.form__btn:focus {
  background-color: #AA9DFA;
  border: 2px solid #4F28A5;
}

.form__btn:active {
  background-color: #4F28A5;
}

.checkbox {
  padding-left: 22px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  color: #FFF;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox__span {
  position: absolute;
  width: 12px;
  height: 12px;
  top: -3px;
  margin-left: -22px;
  border: 1px solid #FFF;
}

.checkbox__span::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 3px;
  top: 2px;
  left: 2px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-color: #AA9DFA;
  visibility: hidden;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}


.checkbox__error .just-validate-error-label {
  position: absolute;
  top: -15px;
  left: 0;
}

.checkbox__input:checked + .checkbox__span::before {
  visibility: visible;
}

.checkbox__input:focus + .checkbox__span {
  -webkit-box-shadow: 0 0 0 1px #AA9DFA;
          box-shadow: 0 0 0 1px #AA9DFA;
}

.checkbox__input:checked:focus + .checkbox__span {
  -webkit-box-shadow: 0 0 0 0px #AA9DFA;
          box-shadow: 0 0 0 0px #AA9DFA;
}

.checkbox__input:checked ~ .checkbox__error {
  display: none;
}

.footer {
  position: relative;
  background-color: #292E39;
}

.footer__container {
  margin-top: -1px;
  padding: 91px 0 10px 0;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 95px;
}

.footer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 12px;
  left: 0;
  bottom: 11%;
  background-image: url(../img/wave-vector.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__logo {
  display: block;
  max-width: 160px;
  height: 20px;
  margin-bottom: 21px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 112px;
}

.footer__link {
  outline: none;
}

.footer__svg path {
  -webkit-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.footer__link:hover .footer__svg path {
  fill: #6D31EE;
}

.footer__link:focus .footer__svg path {
  fill: #AA9DFA;
}

.footer__link:active .footer__svg path {
  fill: #4F28A5;
}

.footer__nav {
  width: unset;
}

.footer__nav .nav__list {
  display: block;
  max-width: none;
  -webkit-columns: 3;
     -moz-columns: 3;
          columns: 3;
  -webkit-column-gap: 125px;
     -moz-column-gap: 125px;
          column-gap: 125px;
}

.footer__nav .nav__item {
  width: 65px;
  margin: 0 0 18px 0;
}

.footer__nav .nav__link {
  font-size: 16px;
  line-height: 16px;
  color: #FFF;
}

.footer__nav .nav__link:hover {
  color: #6D31EE;
}

.footer__nav .nav__link:focus {
  padding: 3px;
  background-color: #AA9DFA;
  color: #FFF;
}

.footer__nav .nav__link:active {
  color: #4F28A5;
}

.footer__nav .nav__link:active:focus {
  visibility: hidden;
}

.footer__copyrights {
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  color: #A1A6B4;
}


@media (max-width: 1250px) {
  .header__container {
    position: relative;
    align-items: center;
    padding: 30px 98px 30px 98px;
  }

  .logo {
    width: 112px;
    height: 12px;
  }

  .swiper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -79%;
    padding: 21px 98px 21px 98px;
    border-top: 1px solid #E6E8EC;
    border-bottom: 1px solid #E6E8EC;
  }

  .hero__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 141px 98px 80px 98px;
  }

  .hero__content {
    max-width: 552px;
  }

  .hero__title {
    margin-bottom: 15px;
  }

  .hero__sub-title {
    margin-bottom: 20px;
  }

  .hero__btn {
    padding: 22px 51px;
  }

  .hero__img {
    width: 256px;
    height: 270px;
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
  }

  .podcasts__container {
    padding: 94px 98px 61px 98px;
  }

  .podcasts__item {
    max-width: 390px;
    margin-bottom: 29px;
  }

  .podcasts__info {
    padding:  38px 27px 38px 27px;
  }

  .broadcasts__container {
    padding: 94px 98px 68px 98px;
  }

  .cols:nth-child(2) {
    width: 65.4%;
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
        transform: translateY(5px);
  }

  .cols:first-child {
    width: 31%;
    padding: 0 0 22px 0;
  }

  .broadcasts__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 46%;
        flex: 0 0 46%;
    margin-bottom: 25px;
  }

  .guests__container {
    padding: 94px 84px 90px 98px;
  }

  .guests__sub-title {
    max-width: 577px;
  }

  .guests__sub-title {
    line-height: 30px;
  }

  .guests__sub-p:first-child {
    margin-bottom: 9px;
  }

  .guests__item:not(:last-child) {
    margin-bottom: 48px;
  }

  .guests__img {
    margin-right: 24px;
  }

  .playlists__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 94px 98px 72px 98px;
  }

  .playlists__content,
  .playlists__list {
    width: 100%;
  }

  .playlists__content {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .playlists__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
    max-width: 252px;
    margin-bottom: 30px;
  }

  .playlists__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .playlists__info {
    padding: 0 0 0 7px;
  }

  .playlists__pictr {
    width: 112px;
    height: 108px;
  }

  .playlists__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about__content {
    margin-bottom: 26px;
  }

  .about__sub-title {
    max-width: 548px;
  }

  .market__container {
    padding: 94px 98px 91px 98px;
  }

  .market__sub-p:nth-child(1) {
    margin-bottom: 10px;
  }

  .market__sub-p:nth-child(2) {
    margin-bottom: 25px;
  }

  .market__img {
    max-width: 390px;
    max-height: 400px;
    margin-right: 31px;
  }

  .about__container {
    padding: 94px 98px 93px 98px;
  }

  .about__svg:nth-child(2) {
    display: none;
  }

  .about__title {
    margin-bottom: 11px;
  }

  .about__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 390px;
    margin-bottom: 28px;
  }

  .about__pic {
    width: 100%;
    height: 252px;
    margin-bottom: 30px;
  }

  .form__btn {
    margin-bottom: 33px;
  }

  .footer__container {
    padding: 92px 98px 10px 98px;
  }

  .footer__right .nav__list {
    padding: 0;
  }
}

@media (max-width: 1005px) {
  .header__container {
    padding: 28px 114px 28px 110px;
  }

  .swiper {
    padding: 20px 112px 18px 111px;
  }

  .nav__link {
    font-size: 16px;
    line-height: 16px;
  }

  .hero__container {
    padding: 149px 110px 88px 110px;
  }

  .hero__title {
    margin-bottom: 14px;
  }

  .hero__sub-title {
    margin-bottom: 18px;
  }

  .hero__img {
    display: none;
  }

  .podcasts__container {
    position: relative;
    padding: 94px 114px 64px 110px;
  }

  .podcasts__title {
    margin-bottom: 27px;
  }

  .podcasts__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: unset;
    margin-bottom: 30px;
  }

  .podcasts__pic {
    height: 136px;
  }

  .broadcasts__container {
    position: relative;
    padding: 94px 110px 27px 110px;
  }

  .broadcasts__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .broadcasts__content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 151px;
    left: 0;
    right: 0;
    background-color: #E6E8EC;
  }

  .broadcasts__title {
    display: none;
  }

  .broadcasts__title.hidden {
    display: block;
    margin-bottom: 115px;
  }

  .cols:first-child,
  .cols:nth-child(2) {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .broadcasts__btn {
    margin-bottom: 10px;
    padding: 10px 53px;
  }

  .broadcasts__btn::before {
    width: 117px;
    height: 126px;
    top: -33px;
    left: -117px;
    z-index: 0;
  }

  .broadcasts__sub-title {
    max-width: 255px;
    -webkit-transform: translate(42px, 0px);
        -ms-transform: translate(42px, 0px);
            transform: translate(42px, 0px);
  }

  .cols:nth-child(2) {
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
  }

  .broadcasts__list {
    margin-bottom: 62px;
  }

  .broadcasts__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 37%;
            flex: 0 0 37%;
    margin-bottom: 28px;
  }

  .broadcasts__img {
    height: 146px;
  }

  .broadcasts__info {
    padding: 15px;
  }

  .guests__container {
    padding: 94px 109px 90px 112px;
  }

  .guests__item {
    display: block;
    max-height: none;
  }

  .guests__item:not(:last-child) {
    margin-bottom: 50px;
  }

  .guests__img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 22px;
  }

  .guests__info {
    display: block;
    max-width: 360px;
  }

  .guests__description {
    margin-bottom: 28px;
    line-height: 28.3px;
  }

  .playlists__container {
    padding: 92px 112px 93px 111px;
  }

  .playlists__content {
    margin-bottom: 15px;
  }

  .playlists__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    max-width: 250px;
    margin-bottom: 29px;
  }

  .playlists__pictr {
    max-width: 110px;
    max-height: 110px;
  }

  .market__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 43px 108px 92px 110px;
  }

  .market__img {
    max-width: 540px;
    max-height: 474px;
    margin-right: 0;
    margin-bottom: 43px;
  }

  .market__title {
    max-width: 494px;
  }

  .market__sub-title {
    margin-bottom: 28px;
    line-height: 28.5px;
  }

  .market__sub-p:nth-child(2) {
    margin-bottom: 28px;
  }

  .market__btn {
    padding: 23px 11.5px 23px 37px;
  }

  .about__container {
    padding: 92px 110px 94px 112px;
  }

  .about__title {
    margin-bottom: 11px;
  }

  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__sub-title {
    margin-bottom: 28px;
    line-height: 31.5px;
  }

  .about__svg {
    width: 112px;
    height: 112px;
  }

  .about__svg.spiral {
    display: block;
    width: 510px;
    margin-right: 31px;
    background-image: url(../img/spiral-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
  }

  .about__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 250px;
  }

  .about__pic {
    height: 250px;
  }

  .form__textarea {
    height: 86px;
  }

  .form__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__label:not(:last-child) {
    margin-bottom: 30px;
  }

  .form__input {
    padding: 23px 30px;
  }

  .form__btn {
    padding: 22px 50px;
  } 

  .footer__container {
    padding: 91px 114px 30px 112px;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 70px;
  }

  .footer__right,
  .footer__left {
    width: 100%;
  }

  .footer__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 76px;
  }

  .footer__logo {
    margin-bottom: 18px;
  }

  .footer__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: none;
    width: 150px;
  }

  .footer__item:not(:first-child) {
    margin-left: auto;
  }

  .footer__link {
    display: block;
    width: 36px;
    height: 36px;
  }

  .footer__svg {
    width: 36px;
    height: 36px;
  }

  .footer__right {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .footer__nav .nav__list {
    -webkit-column-gap: 165px;
       -moz-column-gap: 165px;
            column-gap: 165px;
  }

  .footer__nav .nav__item {
    margin: 0 0 27px 0;
  }

  .footer__copyrights {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media (max-width: 740px) {
  .container {
    padding: 32px;
  }

  .header__container {
    padding: 32px;
  }

  .nav {
    padding: 21px 32px;
  }

  .hero__container {
    padding: 140px 32px 32px;
  }

  .footer__container {
    padding: 32px 32px 10px;
  }
}

@media (max-width: 550px) {
  .header__container {
    padding: 16px 32px 16px 32px;
  }

  .swiper {
    bottom: -88%;
    padding: 12px 30px 12px 30px;
  }

  .logo__img {
    width: 81px;
    height: 10px;
  }

  .hero__container {
    padding: 85px 20px 37px 30px;
  }

  .title {
    margin-bottom: 17px;
    font-size: 24px;
    line-height: 24px;
  }

  .hero__title {
    margin-bottom: 7px;
    font-size: 32px;
    line-height: 32px;
  }

  .hero__sub-title {
    margin-bottom: 17px;
    font-size: 14px;
    line-height: 20px;
  }

  .hero__btn {
    padding: 14px 39px;
    font-size: 16px;
    line-height: 16px;
  }

  .podcasts__container {
    padding: 52px 30px 23px 30px;
  }

  .podcasts__item {
    margin-bottom: 27.5px;
  }

  .podcasts__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .podcasts__pic {
    width: 100%;
    height: 68px;
  }

  .podcasts__info {
    padding: 28px 15px;
  }

  .podcasts__heading {
    font-size: 16px;
    line-height: 16px;
  }

  .podcasts__description {
    font-size: 12px;
    line-height: 12px;
  }

  .broadcasts__container {
    padding: 51px 30px 52px 30px;
  }

  .broadcasts__content::before {
    bottom: 180px;
  }

  .broadcasts__title.hidden {
    margin-bottom: 27px;
  }

  .broadcasts__list {
    margin-bottom: 30px;
  }

  .broadcasts__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 43%;
            flex: 0 0 43%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .broadcasts__pictr {
    max-height: 47px;
  }

  .broadcasts__img {
    width: 100%;
    height: 100%;
  }

  .broadcasts__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 9px 8px 9px 8px;
  }

  .broadcasts__heading,
  .broadcasts__link {
    font-size: 12px;
    line-height: 12px;
  }

  .broadcasts__description {
    margin: 0 0 20px 0;
    font-size: 9px;
    line-height: 9px;
  }

  .broadcasts__link {
    margin-top: auto;
    color: #6D31EE;
  }

  .broadcasts__arrow {
    top: 5px;
    right: -32%;
    background-color: #6D31EE;
  }

  .broadcasts__link:hover .broadcasts__arrow {
    width: 19px;
  }

  .cols:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    z-index: 10;
  }

  .broadcasts__sub-title {
    max-width: 160px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 21px;
    -webkit-transform: translate(23px, 0px);
        -ms-transform: translate(23px, 0px);
            transform: translate(23px, 0px);
  }

  .broadcasts__btn {
    margin-bottom: 0;
    padding: 7px 27px;
    -webkit-transform: translate(-3px, 0px);
        -ms-transform: translate(-3px, 0px);
            transform: translate(-3px, 0px);
  }

  .broadcasts__btn::before {
    top: -95px;
    left: -110.4%;
    z-index: 0;
  }

  .guests__container {
    padding: 52px 26px 49px 29px;
  }

  .guests__title {
    margin-bottom: 10px;
  }

  .guests__sub-title {
    margin-bottom: 27px;
    font-size: 14px;
    line-height: 21px;
  }

  .guests__sub-p:first-child {
    margin-bottom: 0;
    line-height: 21px;
  }

  .guests__item:not(:last-child) {
    margin-bottom: 29px;
  }

  .guests__img {
    height: 149px;
    margin-bottom: 8px;
  }

  .guests__heading  {
    margin-bottom: 5px;
  }

  .guests__description {
    margin-bottom: 26px;
    line-height: 27.5px;
  }

  .guests__btn {
    padding: 8px 11px;
  }

  .playlists__container {
    padding: 51px 30px 36px 30px;
  }

  .playlists__title {
    margin-bottom: 10px;
  }

  .playlists__sub-title {
    font-size: 12px;
    line-height: 15px;
  }

  .copyrights__text {
    font-size: 12px;
    line-height: 20px;
  }

  .playlists__content {
    margin-bottom: 14px;
  }

  .playlists__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    margin-bottom: 28px;
  }

  .playlists__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .playlists__pictr {
    max-width: none;
    max-height: none;
    width: 100%;
  }

  .playlists__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: unset;
    padding: 8px 6px 8px 7px;
  }

  .playlists__heading {
    font-size: 12px;
    line-height: 12px;
  }

  .playlists__description {
    font-size: 9px;
    line-height: 9px;
  }

  .market__container {
    padding: 48px 24px 53px 29px;
  }

  .market__img {
    max-width: 256px;
    max-height: 216px;
    margin-bottom: 29px;
  }

  .market__title {
    margin-bottom: 37px;
  }

  .market__title::after {
    bottom: -22px;
  }

  .market__sub-title {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 21px;
  }

  .market__sub-p:nth-child(2) {
    margin-bottom: 11px;
  }

  .market__price {
    font-size: 24px;
    line-height: 24px;
  }

  .market__btn {
    padding: 14px 8.5px 14px 39px;
    font-size: 16px;
    line-height: 16px;
  }

  .market__svg {
    top: 25%;
    left: 6%;
  }

  .about__container {
    padding: 50px 26px 53px 26px;
  }

  .about__content {
    margin-bottom: 26px;
  }

  .about__title {
    margin-bottom: 9px;
  }

  .about__sub-title {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 21px;
  }

  .about__sub-p:first-child {
    margin-bottom: 3px;
    line-height: 21px;
  }

  .about__images {
    display: none;
  }

  .about__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    margin-bottom: 28px;
  }

  .about__pic {
    width: 100%;
    height: 108px;
    margin-bottom: 11px;
  }

  .about__heading {
    max-width: 100px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 18px;
  }

  .about__description {
    font-size: 12px;
    line-height: 16px;
  }

  .form__textarea {
    height: 109px;
    padding: 16px 26px;
    font-size: 14px;
  }

  .form__textarea::-webkit-input-placeholder, .form__input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .form__textarea::-moz-placeholder, .form__input::-moz-placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .form__textarea:-ms-input-placeholder, .form__input:-ms-input-placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .form__textarea::-ms-input-placeholder, .form__input::-ms-input-placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .just-validate-error-label {
    position: absolute;
    top: 2px;
    left: 27px;
    font-size: 12px;
  }

  .form__textarea::placeholder,
  .form__input::placeholder,
  .form__textarea,
  .form__input,
  .form__btn {
    font-size: 16px;
    line-height: 16px;
  }

  .form__info {
    margin-bottom: 28px;
  }

  .form__input:not(:last-child) {
    margin-bottom: 30px;
  }

  .form__input {
    padding: 14px 25px;
  }

  .form__btn {
    margin-bottom: 21px;
    padding: 14px 42px;
  }

  .checkbox {
    padding-left: 25px;
    font-size: 9px;
    line-height: 9px;
  }

  .footer__container {
    padding: 50px 0 10px 0;
  }

  .footer__content {
    margin-bottom: 0;
  }

  .footer::after {
    bottom: 30px;
  }

  .footer__left {
    margin-bottom: 50px;
  }

  .footer__right {
    width: unset;
    padding: 24px 30px 25px 30px;
    background-color: #121723;
  }

  .footer__nav {
    padding: 0;
  }

  .footer__nav .nav__list {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
    -webkit-column-gap: 29px;
       -moz-column-gap: 29px;
            column-gap: 29px;
  }

  .footer__nav .nav__item {
    margin: 0 0 16px 0;
  }

  .footer__nav .nav__link {
    font-size: 12px;
    line-height: 12px;
  }

  .footer__copyrights {
    padding: 29px 29px 1px 29px;
    font-size: 12px;
    line-height: 12px;
  }
}

.webp .broadcasts__btn::before { background-image: url(../img/microphone.webp); }