/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v28-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v28-latin_cyrillic-regular.woff') format('woff'); /* Modern Browsers */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/open-sans-v28-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v28-latin_cyrillic-600.woff') format('woff'); /* Modern Browsers */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/open-sans-v28-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v28-latin_cyrillic-700.woff') format('woff'); /* Modern Browsers */
}

.body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.link-reset {
  text-decoration: none;
}

.m-reset {
  margin: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pd-reset {
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.img-size {
  width: 100%;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.title {
  margin: 0;
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
  color: #333;
}


/* Header */

.header__container {
  display: flex;
  align-items: center;
  position: relative;
  padding: 28px 152px 29px 150px;
  background-color: #000;
}

.header__burger {
  display: none;
}

.header__search {
  display: none;
}

.header__form {
  display: none;
}

.header__logo {
  margin-right: 179px;
  transform: translateY(2px);
}

.header__nav .header__btn {
  display: none;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__item:not(:last-child) {
  margin-right: 62px;
}

.nav__link {
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  color: #fff;
  transition: color .3s ease,
              background-color .3s ease;
}

.nav__link:hover {
  color: #c283f3;
}

.nav__link:active {
  color: #9d5cd0;
}

.nav__link:focus {
  background-color: #7943a4;
}

.header__btn {
  margin-left: auto;
  border: 0;
  background-color: transparent;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #fff;
  transition: color .3s ease,
              background-color .3s ease;
  cursor: pointer;
}

.header__svg {
  margin-right: 4px;
  transition: fill .3s ease;
}

.header__svg path {
  margin-right: 4px;
  transition: fill .3s ease;
}

.header__btn:hover {
  color: #c283f3;
}

.header__btn:active {
  color: #9d5cd0;
}

.header__btn:focus {
  background-color: #7943a4;
}

.header__btn:hover .header__svg path {
  fill: #c283f3;
  transition: fill .3s ease;
}

.header__btn:active .header__svg path {
  fill: #9d5cd0;
}

.selection {
  display: flex;
  position: absolute;
  bottom: -70px;
  left: 0;
  right: 0;
  padding: 24px 154px 19px 148px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.selection__list {
  display: flex;
  margin-right: auto;
}

.selection__item:not(:last-child) {
  margin-right: 100px;
}

.selection__item {
  position: relative;
}

.selection__droptop {
  display: flex;
  align-items: center;
  border: 0;
  background-color: transparent;
  transition: background-color .3s ease;
  cursor: pointer;
}

.selection__heading {
  padding-right: 13px;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  transition: color .3s ease,
              background-color .3s ease,
              transform .3s ease;
}

.selection__heading::after {
  content: '';
  position: absolute;
  top: 30%;
  right: 0;
  width: 7px;
  height: 7px;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
  transition: border-color .3s ease,
              transform .2s ease;
}


.selection__droptop:hover .selection__heading {
  color: #c283f3;
}

.selection__droptop:hover .selection__heading::after {
  border-color: #c283f3;
}

.selection__droptop:focus {
  background-color: #7943a4;
}

.selection__droptop-active .selection__heading {
  color: #9d5cd0;
}

.selection__droptop-active .selection__heading::after {
  border-color: #9d5cd0;
}

.selection__droptop-active .selection__heading::after {
  transform: rotate(225deg);
}

.selection__dropdown {
  position: absolute;
  width: 220px;
  height: 220px;
  top: 0;
  left: 0;
  padding: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
  transition: visibility .06s ease-in-out,
              top .06s ease-in-out,
              padding .06s ease-in-out;
}

.simplebar-track.simplebar-vertical {
  display: none;
  width: 2px;
  top: 40px;
  right: 17px;
  bottom: 40px;
  background-color: #000;
}

.simplebar-scrollbar {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

.selection__dropdown-active .simplebar-track.simplebar-vertical {
  display: block;
}

.selection__dropdown-active {
  top: 46px;
  padding: 40px;
  overflow: auto;
  visibility: visible;
  pointer-events: all;
}

.selection__button {
  width: 220px;
  padding: 10px 14px;
  border: 0;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background .3s ease,
              outline .3s ease;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  cursor: pointer;
}

.selection__button:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown-img-1 {
  background-image: url(../img/main-menu/menu-img-1.jpg);
}

.dropdown-img-2 {
  background-image: url(../img/main-menu/menu-img-2.jpg);
}

.dropdown-img-3 {
  background-image: url(../img/main-menu/menu-img-3.jpg);
}

.dropdown-img-4 {
  background-image: url(../img/main-menu/menu-img-4.jpg);
}

.dropdown-img-5 {
  background-image: url(../img/main-menu/menu-img-5.jpg);
}

.dropdown-img-6 {
  background-image: url(../img/main-menu/menu-img-6.jpg);
}

.dropdown-img-7 {
  background-image: url(../img/main-menu/menu-img-7.jpg);
}

.dropdown-img-8 {
  background-image: url(../img/main-menu/menu-img-8.jpg);
}

.dropdown-img-8 {
  background-image: url(../img/main-menu/menu-img-8.jpg);
}

.dropdown-img-9 {
  background-image: url(../img/main-menu/menu-img-9.jpg);
}

.dropdown-img-10 {
  background-image: url(../img/main-menu/menu-img-10.jpg);
}

.dropdown-img-11 {
  background-image: url(../img/main-menu/menu-img-11.jpg);
}

.dropdown-img-12 {
  background-image: url(../img/main-menu/menu-img-12.jpg);
}

.dropdown-img-13 {
  background-image: url(../img/main-menu/menu-img-13.jpg);
}

.dropdown-img-14 {
  background-image: url(../img/main-menu/menu-img-14.jpg);
}

.dropdown-img-15 {
  background-image: url(../img/main-menu/menu-img-15.jpg);
}

.dropdown-img-16 {
  background-image: url(../img/main-menu/menu-img-16.jpg);
}

.dropdown-img-17 {
  background-image: url(../img/main-menu/menu-img-17.jpg);
}

.dropdown-img-18 {
  background-image: url(../img/main-menu/menu-img-18.jpg);
}

.dropdown-img-19 {
  background-image: url(../img/main-menu/menu-img-19.jpg);
}

.dropdown-img-20 {
  background-image: url(../img/main-menu/menu-img-20.jpg);
}

.selection__button:hover,
.selection__button:focus {
  outline: 2px solid #9D5CD0;
}

.selection__button:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4),
            rgba(194, 131, 243, 0.4));
}

.selection__form {
  display: flex;
  align-items: center;
  width: 249px;
}

.selection__form .form__btn {
  margin-right: 7px;
  border: 0;
  background-color: transparent;
  transform: translate(-2px, 3px);
  cursor: pointer;
}

.selection__input {
  width: 100%;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  transition: border-color .3s ease;
  cursor: pointer;
}

.selection__input:focus {
  outline: transparent;
  border-bottom: 1px solid #7943A4;
}

.selection__input:focus.selection__input::placeholder {
  visibility: hidden;
}

.selection__input::placeholder {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
}

.selection__form:hover .selection__input {
  border-bottom: 1px solid #C283F3;
}



/* Main */
.hero__container {
  position: relative;
  height: 439px;
  padding: 139px 152px 122px 150px;
}

.hero__content {
  max-width: 600px;
  position: absolute;
  pointer-events: auto;
  z-index: 2;
}

.hero__title {
  margin-bottom: 19px;
  font-size: 72px;
  line-height: 84px;
  font-weight: 700;
  color: #fff;
}

.hero__description {
  margin-bottom: 92px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
}

.hero__btn {
  padding: 22.5px 36px;
  border: 0;
  border-radius: 100px;
  background-color: #9d5cd0;
  transition: background-color .3s ease,
              outline .3s ease;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.hero__btn:hover {
  outline: 3px solid #D1A9F0;
}

.hero__btn:focus {
  outline: 3px solid #D1A9F0;
}

.hero__btn:active {
  background-color: #7943A4;
}

.hero__swiper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0;
}

.slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightgray;
}

.slide-1 {
  background-image: url(../img/main-img1.jpg);
}

.slide-2 {
  background-image: url(../img/main-img2.jpg);
}

.slide-3 {
  background-image: url(../img/main-img3.jpg);
}


/* About */
.about__container {
  padding: 80px 152px 70px 150px;
}

.about__title {
  margin-bottom: 16px;
}

.about__description {
  max-width: 1088px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #333;
}


/* Galery */

.galery__container {
  display: flex;
  padding: 80px 152px 76px 150px;
  background-image: url(../img/bg-galery.jpg);
}

.galery__title {
  margin-bottom: 16px;
  color: #fff;
}

.galery__content {
  margin-right: 50px;
}

.galery__selection {
  margin-bottom: 176px;
}

.galery__heading {
  margin-bottom: 9px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
  color: #fff;
}

.choices.is-open .choices__inner{
  border-radius: 6px;
}

.choices__inner {
  width: 400px;
  min-height: 40px;
  padding: 0;
  border-radius: 6px;
  background-color: transparent;
  font-size: 16px;
  color: #fff;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 0;
}

.choices__list--single {
  padding: 9px 15px;
}

.choices[data-type*=select-one]:after {
  height: 8px;
  width: 8px;
  border-width: 0px;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  transform: rotate(135deg);
  margin-top: -6px;
}

.choices[data-type*=select-one].is-open:after {
  border-width: 0px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-top: -2px;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  border-radius: 6px;
  background-color: transparent;
  backdrop-filter: blur(20px);
  color: #999;
}

.choices__list--dropdown .choices__item--selectable::after, .choices__list[aria-expanded] .choices__item--selectable::after {
  display: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
  font-size: 16px;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
  border-bottom: 1px solid #ddd;
}

#choices--selectCustom-item-choice-3 {
  border-bottom: 0;
}

.galery__check {
  display: flex;
  flex-direction: column;
}

.galery__checkbox {
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check-box {
  position: absolute;
  width: 12px;
  height: 12px;
  margin-left: -24px;
  transition: box-shadow .2s ease,
              background-image .2s ease;
  box-shadow: 0 0 0 1px #fff;
}

.galery__checkbox:hover .check-box {
  box-shadow: 0 0 0 1px #C283F3;
}

.check-text {
  transition: color .2s ease;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.checkbox:checked + .check-box {
  box-shadow: 0 0 0 1px #C283F3;
  background-image: url("data:image/svg+xml,%3Csvg width='4' height='4' viewBox='0 0 4 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2' cy='2' r='2' fill='%23C283F3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.checkbox:focus + .check-box {
  box-shadow: 0 0 0 2px #C283F3;
}

.checkbox:checked ~ .check-text {
  color: #c283f3;
}

.galery__slider {
  padding-top: 25px;
}

.galery__swiper {
  width: 100%;
}

.swiper__button {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 30px;
}

.swiper-button-prev-unique {
  width: 30px;
  height: 30px;
  background-image: url(../img/galery-swiper/prev.svg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity .2s ease;
  cursor: pointer;
}

.swiper-button-next-unique {
  width: 30px;
  height: 30px;
  background-image: url(../img/galery-swiper/next.svg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity .2s ease,
              background-image .2s ease;
  cursor: pointer;
}

.swiper-button-prev-unique.swiper-button-disabled,
.swiper-button-next-unique.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.swiper-button-prev-unique:hover {
  background-image: url(../img/events-swiper/events-arrow-hover.svg);
  transform: rotate(180deg);
}

.swiper-button-next-unique:hover {
  background-image: url(../img/events-swiper/events-arrow-hover.svg);
}

.swiper-button-prev-unique:focus {
  background-image: url(../img/events-swiper/events-arrow-focus.svg);
  transform: rotate(180deg);
}

.swiper-button-next-unique:focus {
  background-image: url(../img/events-swiper/events-arrow-focus.svg);
}

.swiper-button-prev-unique:active {
  background-image: url(../img/events-swiper/events-arrow-active.svg);
  transform: rotate(180deg);
}

.swiper-button-next-unique:active {
  background-image: url(../img/events-swiper/events-arrow-active.svg);
}

.swipper-counter {
  padding: 0 19px;
}

.swiper-pagination-unique {
  color: #fff;
}

.galery__img {
  max-width: 350px;
  max-height: 350px;
}


/* Catalog */

.catalog__container {
  padding: 80px 152px 80px 150px;
}

.catalog__title {
  margin-bottom: 16px;
}

.catalog__description {
  max-width: 1080px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 32px;
}

.catalog__content {
  display: flex;
  justify-content: space-between;
}

.banner {
  display: none;
}

._active {
  display: block;
  width: 46.8%;
}

.banner__img {
  margin-bottom: 25px;
}

.banner__heading {
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
}

.banner__span{
  display: block;
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 16.34px;
  color: #999;
}

.banner__text {
  font-size: 16px;
  line-height: 32px;
}

.banner__link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: #9d5cd0;
}

.accordion {
  width: 50%;
}

.accordion__item {
  margin-top: -1px;
  border-top: 1px solid #cacaca;
  transition: border-color 0.3s ease;
}

.accordion__item:first-child {
  border-top: 1px solid #cacaca;
}

.accordion__droptop {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: -1px;
  padding: 41px 60px 41px 0;
  border: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #cacaca;
  background-color: transparent;
  transition: border-color .3s ease,
              color .3s ease,
              background-color .3s ease;
  cursor: pointer;
  outline: none;
}

.accordion__heading {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.accordion__droptop.active {
  border-color:#7943a4;
}

.accordion__droptop.active .accordion__droptop {
  border-top: 1px solid #cacaca;
}

.accordion__droptop.active .accordion__heading {
  color: #7943a4;
}

.accordion__svg {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: fill .3s ease,
              stroke .3s ease,
              transform .3s ease;
}

.accordion__svg path {
  transition: fill .3s ease,
              stroke .3s ease;
}

.active .accordion__svg {
  transform: translateY(-50%) rotate(180deg);
}

.active .accordion__svg path {
  fill: #d1a9f0;
  stroke: #9d5cd0;
}

.active .accordion__svg path:nth-child(3) {
  stroke: #000;
}

.accordion__item:hover .accordion__droptop,
.accordion__item:active .accordion__droptop,
.accordion__item:focus .accordion__droptop {
  border-color: #7943a4;
}

.accordion__item:focus .accordion__droptop {
  outline: 1px solid #000;
  color: #7943a4;
}

.accordion__item:hover .accordion__heading {
  color: #7943a4;
}

.accordion__item:hover .accordion__svg path {
  fill: #d1a9f0;
}

.accordion__item:hover .accordion__svg path:nth-child(3) {
  stroke: #000;
}

.accordion__item:active .accordion__heading {
  color: #7943a4;
}

.accordion__item:active .accordion__svg path {
  fill: #d1a9f0;
  stroke: #9d5cd0;
}

.accordion__item:active .accordion__svg path:nth-child(3) {
  stroke: #000;
}

.accordion__droptop:focus .accordion__heading {
  color: #fff;
  background-color: #9d5cd0;
}

.accordion__droptop:focus .accordion__svg path {
  fill: #d1a9f0;
}

.accordion__droptop:focus .accordion__droptop {
  border-color: #7943a4;
}

.accordion__dropdown {
  margin: 33px 0;
}

.description {
  max-width: 725px;
}

.description__list {
  columns: 3;
}

.description__item {
  transition: color .3s ease,
              background-color .3s ease,
              text-decoration .3s ease;
}

.description__item:not(:last-child) {
  margin-bottom: 16.5px;
}

.description__button {
  border: 0;
  background-color: transparent;
  transition: color .3s ease,
              backgroud-color .3s ease,
              text-decoration .3s ease;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.description__button:hover {
  text-decoration: underline 3px #9d5cd0;
}

.description__button:focus {
  color: #333;
  text-decoration: none;
  background-color: #7943a4;
}

.description__button:active,
.description__button.is-active {
  color: #9D5CD0;
  text-decoration: none;
}

.content {
  display: flex;
  align-items: center;
}

.content__block {
  padding: 12px;
  margin-right: 25px;
  border: 2px solid #b7b7b7;
}

.content__span {
  display: block;
  width: 251px;
  height: 165px;
  background-color: #b7b7b7;

}

.content__about {
  max-width: 275px;
}

.content__heading {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.content__text {
  font-size: 16px;
  line-height: 22px;
}

.content__link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: #9d5cd0;
}


/* Events */

.events__container {
  padding: 0 152px 0 150px;
}

.events__title {
  margin-bottom: 16px;
}

.events__content {
  position: relative;
  border-right: 1px solid #cacaca;
  z-index: 0;
}

.events__item {
  position: relative;
  width: 100%;
  height: 700px;
  border: 1px solid #cacaca;
}

.events__card {
  padding: 9px 50px 50px 50px;
}

.events__card-text {
  display: inline-block;
  max-width: 195px;
  margin-bottom: 11px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #999;
}

.events__card-heading {
  margin-bottom: 11px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
  color: #333;
}

.events__card-description {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #333;
}

.events__card-link {
  position: absolute;
  bottom: 47px;
}

.swiper-pagination {
  display: none;
}

.events__content .swiper-button-disabled {
  visibility: hidden;
}

.swiper-button-prev-events {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 46.5%;
  left: -25px;
  background-image: url(../img/events-swiper/events-arrow.svg);
  transform: rotate(180deg);
  transition: background-image .4s ease;
  cursor: pointer;
  z-index: 2;
}

.swiper-button-next-events {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 46.5%;
  right: -25px;
  background-image: url(../img/events-swiper/events-arrow.svg);
  transition: background-image .4s ease;
  cursor: pointer;
  z-index: 2;
}

.swiper-button-next-events:hover,
.swiper-button-prev-events:hover {
  background-image: url(../img/events-swiper/events-arrow-hover.svg);
}

.swiper-button-next-events:focus,
.swiper-button-prev-events:focus {
  background-image: url(../img/events-swiper/events-arrow-focus.svg);
}

.swiper-button-next-events:active,
.swiper-button-prev-events:active {
  background-image: url(../img/events-swiper/events-arrow-active.svg);
}


/* Projects */

.projects__container {
  padding: 78px 152px 75px 150px;
}

.projects__title {
  margin-bottom: 16px;
}

.projects__description {
  max-width: 1076px;
  margin-bottom: 19px;
  font-size: 16px;
  line-height: 32px;
}

.projects__description-tooltip {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 3px;
  border: 0;
  background-image: url(../img/projects-tooltip.svg);
  background-color: transparent;
  transform: translateY(1px);
  transition: border-color .3s ease,
              background-image .3s ease;
  cursor: pointer;
}

.tippy-box[data-theme~='tooltip'] {
  padding: 5px 0;
  border-radius: 0;
  background-color: #9D5CD0;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #fff;
}

.tippy-box[data-theme~='tooltip'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #9D5CD0;
}
.tippy-box[data-theme~='tooltip'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #9D5CD0;
}
.tippy-box[data-theme~='tooltip'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #9D5CD0;
}
.tippy-box[data-theme~='tooltip'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #9D5CD0;
}


.projects__description-tooltip:hover,
.projects__description-tooltip:focus {
  background-image: url(../img/tool-focus.svg);
}

.projects__description-tooltip:active {
  background-image: url(../img/tool-active.svg);
}

.projects__description a {
  color: #9d5cd0;
}

.projects__partners-content {
  position: relative;
  padding: 0 75px;
}

.projects__partners-heading {
  margin-bottom: 23px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.swiper-button-prev-projects {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 40%;
  left: 0;
  background-image: url(../img/projects-swiper/projects-arrow.svg);
  transition: opacity .3s ease,
              background-image .3s ease;
  cursor: pointer;
  z-index: 2;
}

.swiper-button-next-projects {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 40%;
  right: 0;
  background-image: url(../img/projects-swiper/projects-arrow.svg);
  transform: rotate(180deg);
  transition: opacity .3s ease,
              background-image .3s ease;
  cursor: pointer;
  z-index: 2;
}

.swiper-button-prev-projects.swiper-button-disabled,
.swiper-button-next-projects.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.swiper-button-next-projects:hover,
.swiper-button-prev-projects:hover {
  background-image: url(../img/projects-swiper/projects-arrow.-hover.svg);
}

.swiper-button-next-projects:focus,
.swiper-button-prev-projects:focus {
  background-image: url(../img/projects-swiper/projects-arrow-focus.svg);
}

.swiper-button-next-projects:active,
.swiper-button-prev-projects:active {
  background-image: url(../img/projects-swiper/projects-arrow-active.svg);
}

.projects__item:active .projects__img-1 {
  background-image: url(../img/projects-swiper/project-img-hover1.png);
}

.projects__item:active .projects__img-2 {
  background-image: url(../img/projects-swiper/project-img-hover2.png);
}

.projects__item:active .projects__img-3 {
  background-image: url(../img/projects-swiper/project-img-hover3.png);
}

.projects__item:active .projects__img-4 {
  background-image: url(../img/projects-swiper/project-img-hover4.png);
}

.projects__item:active .projects__img-5 {
  background-image: url(../img/projects-swiper/project-img-hover5.png);
}

.projects__item:active .projects__img-6 {
  background-image: url(../img/projects-swiper/project-img-hover6.png);
}

.projects__item:active .projects__img-7 {
  background-image: url(../img/projects-swiper/project-img-hover7.png);
}

.projects__item:active .projects__img-8 {
  background-image: url(../img/projects-swiper/project-img-hover8.png);
}

.projects__item:active .projects__img-9 {
  background-image: url(../img/projects-swiper/project-img-hover9.png);
}

.projects__item:hover .projects__img-1 {
  background-image: url(../img/projects-swiper/project-img-hover1.png);
}

.projects__item:hover .projects__img-2 {
  background-image: url(../img/projects-swiper/project-img-hover2.png);
}

.projects__item:hover .projects__img-3 {
  background-image: url(../img/projects-swiper/project-img-hover3.png);
}

.projects__item:hover .projects__img-4 {
  background-image: url(../img/projects-swiper/project-img-hover4.png);
}

.projects__item:hover .projects__img-5 {
  background-image: url(../img/projects-swiper/project-img-hover5.png);
}

.projects__item:hover .projects__img-6 {
  background-image: url(../img/projects-swiper/project-img-hover6.png);
}

.projects__item:hover .projects__img-7 {
  background-image: url(../img/projects-swiper/project-img-hover7.png);
}

.projects__item:hover .projects__img-8 {
  background-image: url(../img/projects-swiper/project-img-hover8.png);
}

.projects__item:hover .projects__img-9 {
  background-image: url(../img/projects-swiper/project-img-hover9.png);
}

.projects__item:focus,
.projects__item:active {
  outline: 1px solid #9D5CD0;
}

.projects__img {
  width: 100%;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image .3s ease;
}

.projects__img-1 {
  background-image: url(../img/projects-swiper/projects-img1.png);
}

.projects__img-2 {
  background-image: url(../img/projects-swiper/projects-img2.png);
}

.projects__img-3 {
  background-image: url(../img/projects-swiper/projects-img3.png);
}

.projects__img-4 {
  background-image: url(../img/projects-swiper/projects-img4.png);
}

.projects__img-5 {
  background-image: url(../img/projects-swiper/projects-img5.png);
}

.projects__img-6 {
  background-image: url(../img/projects-swiper/projects-img6.png);
}

.projects__img-7 {
  background-image: url(../img/projects-swiper/projects-img7.png);
}

.projects__img-8 {
  background-image: url(../img/projects-swiper/projects-img8.png);
}

.projects__img-9 {
  background-image: url(../img/projects-swiper/projects-img9.png);
}


/* Calls */

.calls__container {
  padding: 0 152px 0 150px;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}

.call__title {
  margin-bottom: 16px;
}

.calls__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 0 40px 0;
}

.calls__about {
  max-width: 256px;
}

.calls__about-heading {
  margin-bottom: 2px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.calls__about-description {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.calls__form {
  display: flex;
  align-items: center;
}

.calls__input {
  margin-right: 20px;
  padding: 10px 57px 7px 23px;
  border: 1px solid #333;
  border-radius: 100px;
  font-size: 16px;
  line-height: 32px;
  color: #999;
}

.calls__btn {
  padding: 11px 35px;
  border: 2px solid #9d5cd0;
  border-radius: 100px;
  background-color: #fff;
  color: #9d5cd0;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  transition: color .3s ease,
              border-color .3s ease,
              background-color .3s ease;
  cursor: pointer;
}

.calls__btn:hover {
  background-color: #9d5cd0;
  color: #fff;
}

.calls__btn:focus {
  outline: 1px solid #9d5cd0;
}

.calls__btn:active {
  border: 2px solid #D1A9F0;
  background-color: #7943A4;
  color: #fff;
}

.calls__messengers-heading {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.calls__list {
  display: flex;
  justify-content: space-between;
  max-width: 100px;
}

.calls__item {
  width: 40px;
  height: 40px;
}

.calls__link {
  transition: opacity .3s ease,
              border-color .3s ease;
}

.calls__link:hover,
.calls__link:focus {
  outline: none;
  opacity: 0.5;
}

.calls__link:active .calls__link-img {
  outline: 2px solid #9643A4;
  border-radius: 100px;
}

.map {
  width: 100%;
  height: 700px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.ymaps-2-1-79-copyright {
  visibility: hidden;
  pointer-events: none;
}


/* Footer */

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 152px 46px 150px;
  background-color: #000;
}

.footer__socials {
  display: flex;
  width: 175px;
  justify-content: space-between;
}

.footer__link {
  width: 45px;
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image .3s ease;
}

.footer__link-vk {
  background-image: url(../img/vk.svg);
}

.footer__link-facebook {
  background-image: url(../img/fb.svg);
}

.footer__link-instagram {
  background-image: url(../img/instagram.svg);
}

.footer__link-vk:hover,
.footer__link-vk:focus {
  background-image: url(../img/vk-fcs.svg);
}

.footer__link-instagram:hover,
.footer__link-instagram:focus {
  background-image: url(../img/instagram-fcs.svg);
}

.footer__link-facebook:hover,
.footer__link-facebook:focus {
  background-image: url(../img/fb-fcs.svg);
}

.footer__link-vk:active {
  background-image: url(../img/vk-acv.svg);
}

.footer__link-instagram:active {
  background-image: url(../img/instagram-acv.svg);
}

.footer__link-facebook:active {
  background-image: url(../img/fb-acv.svg);
}


/* Media */

@media (max-width: 1785px) {
  .header__container {
    padding: 28px 80px 29px 80px;
  }

  .header__logo {
    margin-right: 60px;
  }

  .selection {
    padding: 24px 80px 19px 80px;
  }

  .selection__item:not(:last-child) {
    margin-right: 60px;
  }

  .hero__container {
    padding: 139px 80px 122px 80px;
  }

  .about__container {
    padding: 80px 80px 70px 80px;
  }

  .galery__container {
    padding: 80px 80px 76px 80px;
  }

  .catalog__container {
    padding: 80px 80px 80px 80px;
  }

  .events__container {
    padding: 0 80px 0 80px;
  }

  .projects__container {
    padding: 80px 80px 80px 80px;
  }

  .calls__container {
    padding: 0 80px 0 80px;
  }

  .calls__form {
    padding: 0 10px;
  }

  .footer__container {
    padding: 48px 80px 45px 80px;
  }
}

@media (max-width: 1340px) {

  .header__container {
    display: flex;
    justify-content: space-between;
    padding: 28px 40px 25px 40px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 36px;
    height: 28px;
    cursor: pointer;
    z-index: 5;
  }

  .header__burger::before {
    content: '';
    width: 100%;
    height: 3.65px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: top .3s ease,
                transform .3s ease,
                width .3s ease;
  }

  .burger-span {
    position: absolute;
    width: 78.33%;
    height: 3.65px;
    top: 40%;
    left: 0;
    background-color: #fff;
    transition: top .3s ease,
                transform .3s ease,
                width .3s ease;
  }

  .header__burger::after {
    content: '';
    width: 66.66%;
    height: 3.65px;
    position: absolute;
    top: 85%;
    left: 0;
    background-color: #fff;
    transition: top .3s ease,
                transform .3s ease,
                width .3s ease;
  }

  .header__burger.active::before {
    top: 50%;
    transform: rotate(45deg);
  }

  .header__burger.active::after{
    width: 100%;
    top: 50%;
    transform: rotate(-45deg);
  }

  .header__burger.active .burger-span {
    display: none;
  }

  .header__logo {
    width: 187px;
    margin: 0;
    transform: translate(-3px,2px);
  }

  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 110px 40px 22px;
    visibility: hidden;
    pointer-events: none;
    transition: transform .3s ease,
                visibility .3s ease;
    transform: translateY(-100%);
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .header__nav.active {
    position: absolute;
    height: 645px;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }

  .header__nav .header__btn {
    display: block;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__item {
    font-size: 24px;
    line-height: 64px;
  }

  .header__btn {
    position: absolute;
    left: 40px;
    bottom: 22px;
    padding: 20px 90px;
    border: 2px solid #9d5cd0;
    border-radius: 100px;
    visibility: hidden;
    pointer-events: none;
    transition: transform .3s ease,
                visibility .3s ease,
                border-color .3s ease,
                color .3s ease;
    transform: translateY(-100%);
    z-index: 5;
  }

  .header__btn.active {
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }

  .header__search {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    border: 0;
    background-color: transparent;
    background-image: url(../img/lupe.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-image .3s ease;
    cursor: pointer;
    z-index: 10;
  }

  .header__search::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transform: rotate(45deg);
    transition: transform .3s ease,
                top .3s ease;
  }

  .header__search::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transform: rotate(-45deg);
    transition: transform .3s ease,
                top .3s ease;
  }

  .header__search.active {
    background-image: none;
  }

  .header__search.active::before,
  .header__search.active::after {
    background-color: #fff;
  }

  .header__form.active {
    display: flex;
    align-items: center;
    position: absolute;
    top: 35px;
    right: 80px;
    background-color: #000;
    z-index: 9;
  }

  .form__btn {
    margin-right: 7px;
    border: 0;
    background-color: transparent;
    transform: translate(-2px, 3px);
    cursor: pointer;
  }

  .form__svg {
    width: 30px;
    height: 30px;
  }

  .header__input {
    width: 100%;
    padding: 0;
    border: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    transition: border-color .3s ease,
                visibility .3s ease;
    cursor: pointer;
  }

  .header__input:focus {
    outline: transparent;
    border-bottom: 1px solid #7943A4;
  }

  .header__input:focus.header__input::placeholder {
    visibility: hidden;
  }

  .header__input::placeholder {
    font-size: 18px;
    line-height: 20px;
    color: #fff;
  }

  .header__form:hover .header__input {
    border-bottom: 1px solid #C283F3;
  }

  .selection {
    display: none;
  }

  .hero__container {
    padding: 113px 40px 117px 40px;
  }

  .hero__content {
    max-width: 670px;
  }

  .hero__title {
    margin-bottom: 10px;
  }

  .hero__description {
    margin-bottom: 134px;
  }

  .about__container {
    padding: 80px 40px 70px 40px;
  }

  .about__description {
    max-width: 100%;
  }

  .galery__container {
    padding: 80px 40px 111px 40px;
  }

  .galery__content {
    min-width: 278px;
    margin-right: 53px;
  }

  .choices {
    overflow: visible;
  }

  .choices__inner {
    width: 100%;
    min-height: 39px;
  }

  .galery__selection {
    margin-bottom: 105px;
  }

  .catalog__container {
    padding: 80px 40px 80px 40px;
  }

  .catalog__description {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .banner__active {
    width: 47.3%;
  }

  .banner__img {
    margin-bottom: 25px;
  }

  .accordion {
    width: 47.3%;
  }

  .accordion__droptop {
    padding: 41px 60px 41px 0;
  }

  .accordion__dropdown {
    margin: 31px 0;
  }

  .description__list {
    columns: 2;
  }

  .description__item:not(:last-child) {
    margin-bottom: 13.2px;
  }

  .content__block {
    padding: 8px;
  }

  .content__span {
    width: 173px;
    height: 114px;
  }

  .events__container {
    padding: 0 40px 0 40px;
  }

  .events__item {
    height: 681px;
  }

  .events__img {
    height: 199px;
  }

  .events__card {
    padding: 9px 34px 50px 34px;
  }

  .events__card-text {
    float: right;
    margin-left: 32px;
    margin-bottom: 4px;
    text-align: right;
  }

  .events__card-heading {
    margin-bottom: 6px;
  }

  .events__card-link {
    bottom: 53px;
  }

  .swiper-button-prev-events {
    display: none;
  }

  .swiper-button-next-events {
    display: none;
  }

  .swiper-pagination {
    display: block;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -43px;
  }

  :root {
    --swiper-theme-color: #666666;
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-bullet-horizontal-gap: 7px;
  }

  .projects__container {
    padding: 120px 40px 59px 40px;
  }

  .projects__partners-content {
    padding: 0 55px;
  }

  .swiper-button-prev-projects,
  .swiper-button-next-projects {
    top: 33%;
  }

  .calls__container {
    padding: 0 40px;
  }

  .calls__content {
    flex-direction: column;
    align-items: start;
    padding: 41px 0;
  }

  .calls__about {
    margin-bottom: 30px;
  }

  .calls__about-heading {
    margin-bottom: 4px;
  }

  .calls__form {
    margin-bottom: 30px;
    padding: 0;
  }

  .calls__messengers-heading {
    margin-bottom: 6px;
  }

  .calls__btn {
    padding: 11px 41px;
  }

  .footer__container {
    padding: 43px 40px 37px 40px;
  }

  .footer__socials {
    width: 240px;
  }

  .footer__link {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 1023px) {

  .projects__partners-content {
    padding: 0 45px;
  }

  .calls__form {
    flex-wrap: wrap;
  }

  .calls__input:first-child {
    margin-right: 20px;
  }

  .calls__input {
    width: 241px;
    margin-right: 0;
  }

  .calls__btn {
    margin-top: 12px;
    padding: 11px 28px;
  }
}

@media (max-width:870px) {
  .header__container {
    padding: 27px 40px 26px 40px;
  }

  .header__logo {
    transform: translate(-5px,2px);
  }

  .header__form.active {
    top: 3px;
    left: 0;
    right: 10px;
    padding: 30px 75px 30px 50px;
  }

  .galery__container {
    display: flex;
    flex-direction: column;
    padding: 80px 40px 88px 40px;
  }

  .galery__content {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .galery__selection {
    max-width: 277px;
    margin-bottom: 40px;
  }

  .catalog__container {
    padding: 80px 40px 70px 40px;
  }

  .catalog__description {
    margin-bottom: 21px;
  }

  .catalog__content {
    display: flex;
    flex-direction: column-reverse;
  }

  .banner {
    width: 100%;
  }

  .banner__heading {
    margin-bottom: 10px;
  }

  .accordion {
    width: 100%;
    margin-bottom: 51px;
  }

  .description__list {
    columns: 3;
    column-gap: 4em;
  }

  .description__item:not(:last-child) {
    margin-bottom: 13.8px;
  }

  .events__card {
    padding: 8px 36px 50px 36px;
  }

  .projects__container {
    padding: 119px 40px 85px 40px;
  }

  .projects__description {
    margin-bottom: 29px;
  }

  .swiper-button-prev-projects,
  .swiper-button-next-projects {
    top: 30%;
  }

  .projects__img {
    height: 106px;
  }

  .calls__form {
    flex-wrap: wrap;
  }

  .calls__input {
    width: 243px;
  }

  .calls__input:first-child {
    margin-right: 18px;
  }

  .footer__container {
    padding: 42px 40px 38px 40px;
  }
}

@media (max-width: 767px) {

  .calls__input:first-child {
    margin-bottom: 10px;
  }
}

@media (max-width:650px) {

  .title {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
  }

  .header__container {
    padding: 10px 10px 10px 5px;
  }

  .header__burger {
    width: 25px;
    height: 18px;
  }

  .header__burger::before {
    width: 100%;
    height: 2px;
  }

  .burger-span {
    width: 64%;
    height: 2px;
  }

  .header__burger::after {
    width: 40%;
    height: 2px;
  }

  .header__nav {
    padding: 55px 18px 22px;
  }

  .header__nav.active {
    height: 290px;
  }

  .nav__item {
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
  }

  .header__btn {
    left: 18px;
    bottom: 30px;
    padding: 12px 32px;
    font-size: 12px;
    line-height: 16px;
  }

  .header__svg {
    width: 10px;
    height: 10px;
  }

  .header__logo {
    width: 96.8px;
    transform: translate(-2px, 3px);
  }

  .header__img {
    width: 96.8px;
    height: 21.67px;
  }

  .header__search {
    width: 19px;
    height: 19px;
    transform: translateX(4px);
  }

  .header__form.active {
    top: 0;
    left: 0;
    right: 0;
    padding: 50px 50px 25px 50px;
  }

  .form__btn {
    margin-right: 5px;
    transform: translate(0px, 0px);
  }

  .form__svg {
    width: 20px;
    height: 20px;
  }

  .header__input {
    font-size: 12px;
    line-height: 0;
  }

  .hero__container {
    height: 307px;
    padding: 1px;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 31px 14px 42px 13px;
    pointer-events: none;
  }

  .hero__title {
    margin: 0;
    margin-bottom: -7px;
    font-size: 32px;
    line-height: 38px;
    pointer-events: auto;
  }

  .hero__description {
    margin-bottom: 59px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    pointer-events: auto;
  }

  .hero__btn {
    padding: 13px 18px;
    font-size: 12px;
    line-height: 16px;
    pointer-events: auto;
  }

  .about__container {
    padding: 51px 8px 41px 5px;
  }

  .about__description {
    font-size: 14px;
    line-height: 28px;
  }

  .galery__container {
    padding: 50px 10px 50px 5px;
  }

  .galery__content {
    margin-right: 0;
  }

  .galery__selection {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .galery__selection--heading {
    margin-bottom: 5px;
  }

  .choices__inner {
    width: 100%;
  }

  .galery__check {
    margin-bottom: 17px;
  }

  .galery__swiper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .swiper__button {
    margin-top: 31px;
    margin-bottom: 0;
  }

  .galery__img {
    height: 355px;
  }

  .catalog__container {
    padding: 50px 8px 50px 5px;
  }

  .catalog__title {
    margin-bottom: 13px;
  }

  .catalog__description {
    display: none;
  }

  .catalog__content {
    display: flex;
    flex-direction: column-reverse;
  }

  .banner__img {
    margin-bottom: 15px;
  }

  .banner__heading {
    margin-bottom: 15px;
  }

  .accordion {
    margin-bottom: 50px;
  }

  .accordion__droptop {
    padding: 20px 40px 20px 0;
  }

  .accordion__heading {
    font-size: 18px;
  }

  .accordion__svg {
    width: 30px;
    height: 30px;
  }

  .accordion__dropdown {
    margin: 26px 0;
  }

  .description__list {
    columns: 1;
  }

  .description__item:not(:last-child) {
    margin-bottom: 13.66px;
  }

  .events__container {
    padding: 0 8px 0 5px;
  }

  .events__card {
    padding: 14px 15px 50px 23px;
  }

  .events__card-text {
    margin-bottom: 10px;
  }

  .events__card-heading {
    margin-bottom: 6px;
    font-size: 22px;
    line-height: 33px;
  }

  .events__card-link {
    left: 28px;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -35px;
  }

  .projects__container {
    padding: 82px 8px 38px 5px;
  }

  .projects__description {
    margin-bottom: 15px;
  }

  .projects__partners-heading {
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
  }

  .swiper-button-next-projects {
    top: 25%;
  }

  .swiper-button-prev-projects {
    top: 25%;
  }

  .projects__img  {
    height: 80px;
  }

  .calls__container {
    padding: 0 8px 0 5px;
    border-top: 0;
    border-bottom: 0;
  }

  .calls__about {
    margin-bottom: 16px;
  }

  .calls__about-heading {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
  }

  .calls__about-description {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }

  .calls__content {
    padding: 0;
    padding-bottom: 20px;
  }

  .calls__form {
    margin-bottom: 20px;
  }

  .calls__input:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .calls__input {
    width: 100%;
    padding: 3px 51px 3px 22px;
  }

  .calls__btn {
    margin-top: 22px;
    padding: 10px 33px;
    font-size: 12px;
    line-height: 16px;
  }

  .text-visible {
    display: none;
  }

  .calls__messengers-heading {
    font-size: 17px;
  }

  .calls__list {
    max-width: 110px;
  }

  .calls__item .calls__link-img {
    width: 50px;
    height: 50px;
  }

  .map {
    height: 330px;
  }

  .footer__container {
    flex-direction: column-reverse;
    padding: 20px 50px;
  }

  .footer__socials {
    width: 210px;
    margin-bottom: 20px;
  }

  .footer__link {
    width: 50px;
    height: 50px;
  }

  .footer__logo {
    width: 96.8px;
    height: 21.67px;
  }
}
