@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;700&display=swap");
.m-reset {
  margin: 0;
  text-decoration: none;
}

.ul-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  padding: 0;
  border: 0;
  background-color: transparent;
  font-family: "Golos Text", sans-serif;
  cursor: pointer;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.body.no-webp {
  background-image: url(../img/bg-img.png); }

.body {
  position: relative;
  margin: 0;
  font-family: "Golos Text", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 70px 30px 70px;
}

.header__logo {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  outline: none;
}

.header__logo:hover,
.header__logo:focus {
  opacity: 0.5;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choices {
  margin-right: 63px;
  margin-bottom: 0;
}

.choices[data-type*=select-one] .choices__inner {
  padding: 0;
}

.choices__inner {
  min-height: auto;
  border: 0;
  background-color: transparent;
  outline: none;
}

.choices__list--single {
  padding: 4px 30px 4px 12px;
}

.choices__inner,
.nav__link {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.choices__inner:hover,
.choices:focus > .choices__inner,
.nav__link:hover,
.nav__link:focus {
  color: #FF570F;
  outline: none;
}

.choices[data-type*=select-one]::after {
  content: "";
  width: 7px;
  height: 7px;
  border-width: unset;
  border-style: none;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transition: all 0.2s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: all 0.2s ease-in-out, -webkit-transform 0.1s ease-in-out;
  -o-transition: all 0.2s ease-in-out, transform 0.1s ease-in-out;
  transition: all 0.2s ease-in-out, transform 0.1s ease-in-out;
  transition: all 0.2s ease-in-out, transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.choices[data-type*=select-one]:hover::after,
.choices[data-type*=select-one]:focus::after {
  border-color: #FF570F;
}

.choices.is-open .choices__inner {
  border: 1px solid #D4D4D4;
  border-radius: 5px;
  color: #000000;
}

.choices[data-type*=select-one].is-open::after {
  margin: 0;
  border-color: #000000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  margin-top: 3px;
  border: 1px solid #D4D4D4;
  border-radius: 5px;
  background-color: #FFF3E8;
}

.is-active [data-value=Язык] {
  display: none;
}

.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
  overflow: hidden;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable {
  padding-right: 0;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  border-radius: 5px;
  background-color: rgba(255, 92, 0, 0.2);
}

.choices__item--selectable::after {
  display: none;
}

.burger {
  display: none;
  position: relative;
  width: 35px;
  height: 35px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2509803922);
  background-color: #FFFFFF;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.burger::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 40%;
  left: 10%;
  border-radius: 10px;
  background-color: #000000;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.burger::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  top: 60%;
  right: 20%;
  border-radius: 10px;
  background-color: #000000;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.burger.active::before {
  width: 20px;
  height: 3px;
  top: 50%;
  left: 21.5%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.active::after {
  width: 20px;
  height: 3px;
  top: 50%;
  right: 21.5%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger__list {
  position: absolute;
  top: 12px;
  right: 60px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2509803922);
  background-color: #FFFFFF;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.burger__item {
  padding: 10px 10px;
}

.burger__item:hover,
.burger__item:focus {
  background-color: rgba(0, 0, 0, 0.1019607843);
}

.burger__link {
  font-family: "Golos Text", sans-serif;
  text-decoration: none;
  font-size: 14px;
  line-height: 12px;
  font-weight: 700;
  color: #000000;
  outline: none;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 70px 0 70px;
}

.main__content {
  max-width: 470px;
}

.main__title {
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 43.2px;
  font-weight: 700;
  color: #000000;
}

.main__sub-title {
  margin-bottom: 34px;
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 500;
  color: #000000;
}

.main__btn {
  padding: 20px 58px;
  border-radius: 10px;
  background-color: rgba(255, 92, 0, 0.6980392157);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 500;
  color: #000000;
  outline: none;
}

.main__btn:hover,
.main__btn:focus {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2509803922);
}

.main__image {
  max-width: 720px;
  max-height: 580px;
}

.main__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__img-mobile {
  display: none;
  width: 100%;
  height: 100%;
}

.log-page .main__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 158px 70px 153px 70px;
}

.log-page .main__title {
  margin-bottom: 26px;
  font-size: 22px;
  line-height: 26.4px;
  font-weight: 500;
  color: #616161;
}

.form {
  max-width: 380px;
}

.form__input {
  width: 100%;
  margin-bottom: 17px;
  padding: 16px 12px;
  border: 1px solid #FFAE4E;
  border-radius: 10px;
  background-color: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  outline: none;
  font-size: 23px;
  line-height: 27.6px;
  color: #000000;
}

.form__input::-webkit-input-placeholder {
  padding: 14px 12px;
  font-size: 23px;
  line-height: 27.6px;
  color: #B2B2B2;
}

.form__input::-moz-placeholder {
  padding: 14px 12px;
  font-size: 23px;
  line-height: 27.6px;
  color: #B2B2B2;
}

.form__input:-ms-input-placeholder {
  padding: 14px 12px;
  font-size: 23px;
  line-height: 27.6px;
  color: #B2B2B2;
}

.form__input::-ms-input-placeholder {
  padding: 14px 12px;
  font-size: 23px;
  line-height: 27.6px;
  color: #B2B2B2;
}

.form__input::placeholder {
  padding: 14px 12px;
  font-size: 23px;
  line-height: 27.6px;
  color: #B2B2B2;
}

.form__input:hover,
.form__input:focus {
  border-color: #000000;
}

.form__input:focus::-webkit-input-placeholder {
  visibility: hidden;
}

.form__input:focus::-moz-placeholder {
  visibility: hidden;
}

.form__input:focus:-ms-input-placeholder {
  visibility: hidden;
}

.form__input:focus::-ms-input-placeholder {
  visibility: hidden;
}

.form__input:focus::placeholder {
  visibility: hidden;
}

.checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 24px;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 15.6px;
  font-weight: 400;
  color: #7D7D7D;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox__span {
  position: absolute;
  width: 14px;
  height: 14px;
  margin-left: -24px;
  border: 1px solid #B2B2B2;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.checkbox__input:checked + .checkbox__span {
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.checkbox__input:hover + .checkbox__span,
.checkbox__input:focus + .checkbox__span {
  border: 1px solid #000000;
}

.form__btn {
  display: block;
  margin: 0 auto;
  padding: 13px 37px;
  border-radius: 50px;
  background-color: rgba(255, 92, 0, 0.6980392157);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: #FFFFFF;
  outline: none;
}

.form__btn:hover,
.form__btn:focus {
  background-color: rgba(255, 87, 15, 0.6980392157);
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2509803922);
}

.form__btn:active {
  background-color: #FFFFFF;
  color: #000000;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 70px 43px 70px;
}

.copyrights__descr {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__item:not(:last-child) {
  margin-right: 24px;
}

.socials__tel {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 22px;
  line-height: 26.4px;
  font-weight: 500;
  color: #000000;
}

.socials__link {
  display: block;
  width: 28px;
  height: 28px;
  background-size: contain;
  background-repeat: no-repeat;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.socials__link:hover,
.socials__link:focus,
.socials__tel:hover,
.socials__tel:focus {
  opacity: 0.5;
}

.no-webp .link-tg{
  background-image: url(../img/telegram.png); }

.no-webp .link-instg{
  background-image: url(../img/instagram.png); }

@media (max-width: 1024px) {
  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 640px) {
  .header__container {
    padding: 10px 18px;
  }

  .logo__img {
    width: 75px;
    height: 35px;
  }

  .burger {
    display: block;
  }

  .burger.active + .burger__list {
    right: 63px;
    visibility: visible;
    pointer-events: all;
  }

  .choices {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .nav__link {
    display: none;
  }

  .choices__inner,
  .nav__link {
    font-size: 16px;
    line-height: 20px;
  }

  .main__container {
    padding: 63px 40px 63px 40px;
  }

  .main__title {
    font-size: 28px;
    line-height: 33.6px;
  }

  .main__sub-title {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
  }

  .main__btn {
    padding: 16px 48px;
    font-size: 14px;
    line-height: 16.8px;
  }

  .main__img {
    display: none;
  }

  .main__img-mobile {
    display: block;
  }

  .log-page .main__container {
    padding: 221px 75px 310px 75px;
  }

  .log-page .main__title {
    font-size: 15px;
    line-height: 18px;
  }

  .form__input::-webkit-input-placeholder {
    padding: 14px 12px;
    font-size: 12px;
    line-height: 14.4px;
  }

  .form__input::-moz-placeholder {
    padding: 14px 12px;
    font-size: 12px;
    line-height: 14.4px;
  }

  .form__input:-ms-input-placeholder {
    padding: 14px 12px;
    font-size: 12px;
    line-height: 14.4px;
  }

  .form__input::-ms-input-placeholder {
    padding: 14px 12px;
    font-size: 12px;
    line-height: 14.4px;
  }

  .form__input,
  .form__input::placeholder {
    padding: 14px 12px;
    font-size: 12px;
    line-height: 14.4px;
  }

  .footer__container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 40px 12px 40px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
  }

  .copyrights__descr {
    font-size: 10px;
    line-height: 12px;
  }

  .socials__item:not(:last-child) {
    margin-right: 12px;
  }

  .socials__tel {
    font-size: 10px;
    line-height: 12px;
  }

  .socials__link {
    width: 16px;
    height: 16px;
  }
}

.body.webp { background-image: url(../img/bg-img.webp); }

.webp .link-tg{ background-image: url(../img/telegram.webp); }

.webp .link-instg{ background-image: url(../img/instagram.webp); }